{% extends 'base.html' %}

{% block contenido %}

<h3>Restaurants</h3>
<table class="table table-responsive">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Borough</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for r in resta %}
    <tr>
      <th scope="row">{{r.name}}</th>
      <td>{{r.cuisine}}</td>
      <td>{{r.borough}}</td>
      <td>
        <a class="btn btn-lg btn-secondary" href="{% url 'restaurant' r.name %}" role="button">View »</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
